name: Pull Request Tests

on:
  pull_request:
    branches: [ master ]

jobs:
  test-defaults:
    runs-on: ubuntu-latest
    steps:
      - run: echo "RUNNER_DEBUG=1" >> $GITHUB_ENV
        if: env.RUNNER_DEBUG != 1
      - run: test "${{env.RUNNER_DEBUG}}" == "1"
      - name: Install dependencies
        run: sudo npm i -g @zeit/ncc typescript
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        with:
          tag: 1.2.3
          github-token: ${{secrets.GITHUB_TOKEN}}
          dry-run: true
        id: create-tags
      - name: Check executed commands
        run: |
          ./__test__/bin/generate_expected_commands.sh '1.2.3' true true false true false \
            '${version} Major Release Track' \
            'This release tracks the latest ${version} major release (${version}.x.y).' \
            '${version} Minor Release Track' \
            'This release tracks the latest ${version} minor release (${version}.x).' \
          > expected.txt
          echo '${{steps.create-tags.outputs.executed-commands}}' > actual.txt
          git diff --no-index -- expected.txt actual.txt

  test-customized:
    strategy:
      matrix:
        tag: ['v1.2.3', 'v2.0.0', '3.2.7d', '12.43.1', 'x4.2.1']
        update-major: [true, false]
        update-minor: [true, false]
        skip-repo-setup: [true, false]
        create-release: [true, false]
        create-release-as-draft: [true, false]
        release-title: ['Release ${version}']
        release-body: ['Release ${version} body ${version}']
    runs-on: ubuntu-latest
    steps:
      - run: echo "RUNNER_DEBUG=1" >> $GITHUB_ENV
        if: env.RUNNER_DEBUG != 1
      - run: test "${{env.RUNNER_DEBUG}}" == "1"
      - name: Install dependencies
        run: sudo npm i -g @zeit/ncc typescript
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        with:
          tag: ${{matrix.tag}}
          update-major: ${{matrix.update-major}}
          update-minor: ${{matrix.update-minor}}
          prefix-regex: '(v|x)?'
          suffix-regex: 'd?'
          skip-repo-setup: ${{matrix.skip-repo-setup}}
          create-release: ${{matrix.create-release}}
          create-release-as-draft: ${{matrix.create-release-as-draft}}
          major-release-title: ${{matrix.release-title}}
          major-release-body: ${{matrix.release-body}}
          minor-release-title: ${{matrix.release-title}}
          minor-release-body: ${{matrix.release-body}}
          github-token: ${{secrets.GITHUB_TOKEN}}
          dry-run: true
        id: create-tags
      - name: Check executed commands
        run: |
          ./__test__/bin/generate_expected_commands.sh \
            '${{matrix.tag}}' \
            '${{matrix.update-major}}' \
            '${{matrix.update-minor}}' \
            '${{matrix.skip-repo-setup}}' \
            '${{matrix.create-release}}' \
            '${{matrix.create-release-as-draft}}' \
            '${{matrix.release-title}}' \
            '${{matrix.release-body}}' \
            '${{matrix.release-title}}' \
            '${{matrix.release-body}}' \
          > expected.txt
          echo '${{steps.create-tags.outputs.executed-commands}}' > actual.txt
          git diff --no-index -- expected.txt actual.txt

  test-from-env:
    strategy:
      matrix:
        tag: ['v1.2.3', 'v2.0.0', '3.2.7d', '12.43.1', 'x4.2.1']
        update-major: [true, false]
        update-minor: [true, false]
        skip-repo-setup: [true, false]
        create-release: [true, false]
        create-release-as-draft: [true, false]
        release-title: ['Release ${version}']
        release-body: ['Release ${version} body ${version}']
    runs-on: ubuntu-latest
    steps:
      - run: echo "RUNNER_DEBUG=1" >> $GITHUB_ENV
        if: env.RUNNER_DEBUG != 1
      - run: test "${{env.RUNNER_DEBUG}}" == "1"
      - name: Install depenedencies
        run: sudo npm i -g @zeit/ncc typescript
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        with:
          update-major: ${{matrix.update-major}}
          update-minor: ${{matrix.update-minor}}
          prefix-regex: '(v|x)?'
          suffix-regex: 'd?'
          skip-repo-setup: ${{matrix.skip-repo-setup}}
          create-release: ${{matrix.create-release}}
          create-release-as-draft: ${{matrix.create-release-as-draft}}
          major-release-title: ${{matrix.release-title}}
          major-release-body: ${{matrix.release-body}}
          minor-release-title: ${{matrix.release-title}}
          minor-release-body: ${{matrix.release-body}}
          github-token: ${{secrets.GITHUB_TOKEN}}
          dry-run: true
        env:
          TEST_GITHUB_REF: refs/tags/${{matrix.tag}}
        id: create-tags
      - name: Check executed commands
        run: |
          ./__test__/bin/generate_expected_commands.sh \
            '${{matrix.tag}}' \
            '${{matrix.update-major}}' \
            '${{matrix.update-minor}}' \
            '${{matrix.skip-repo-setup}}' \
            '${{matrix.create-release}}' \
            '${{matrix.create-release-as-draft}}' \
            '${{matrix.release-title}}' \
            '${{matrix.release-body}}' \
            '${{matrix.release-title}}' \
            '${{matrix.release-body}}' \
          > expected.txt
          echo '${{steps.create-tags.outputs.executed-commands}}' > actual.txt
          git diff --no-index -- expected.txt actual.txt

  test-invalid:
    strategy:
      matrix:
        tag: ['1', '34.2', 'v3x', 'not-a-version']
    runs-on: ubuntu-latest
    steps:
      - run: echo "RUNNER_DEBUG=1" >> $GITHUB_ENV
        if: env.RUNNER_DEBUG != 1
      - run: test "${{env.RUNNER_DEBUG}}" == "1"
      - name: Install depenedencies
        run: sudo npm i -g @zeit/ncc typescript
      - uses: actions/checkout@v2.3.4
      - name: Generate action code
        run: npm run deploy
      - uses: './'
        with:
          tag: ${{matrix.tag}}
          fail-on-non-semver-tag: false
          github-token: ${{secrets.GITHUB_TOKEN}}
          dry-run: true
        id: create-tags
      - name: Check executed commands
        run: test '${{steps.create-tags.outputs.executed-commands}}' == ''
