name: Update Release Tags

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  update-tags:
    name: Update Running Releases
    runs-on: ubuntu-latest
    if: ${{ github.event.release.prerelease == false }}
    steps:
      - uses: actions/checkout@v5
      - uses: './'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
